#name{
    font-size: 130px;
    margin:0%;
    z-index: 1;

}

#img{
    /* border: 5px solid; */
    z-index: -1;
    float: right;
    
    
    max-width: 600px;
    max-height: 600px;

    width: 50%;
   
    height: 50%;
    border-radius: 50%;
    
}





#txt{
    /* text-align: center; */
    /* border: 5px solid; */
    vertical-align:baseline;
    /* z-index: 3; */
    float:left;
    /* display: inline-block; */
    /* border-style: solid; */
    width:40%;
    /* margin-right: 5%; */
    text-align: center;

    /* margin-bottom: 10%; */
    /* margin-bottom: 30%; */

}




#border{
    border:5px solid;
}

